<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>企业信息</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/school_manager/enterprise_message.css">
<script src="../libs/jquery.min.js"></script>
<script src="../plugins/layer/layer.js"></script>
<script src="../libs/bootstrap.min.js"></script>
<script src="../libs/vue.min.js"></script>
<script src="../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../js/common.js"></script>
</head>
<body>
	<div>hello</div>
	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>

<script src="../js/school_manager/enterprise_message.js"></script>
</body>
</html>