<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>

<!--  <link rel="stylesheet" href="../css/common/jquery-ui.css" /> -->
  <link rel="stylesheet" href="../css/common/jquery-ui-1.10.4.custom.min.css" />
  <link rel="stylesheet" href="../css/school_manager/index.css" />
</head>
<body>
	<div class="school_index_box">
		<div class="activation_box">
			<div class="activation_title">当前学期</div>
			<div class="activation_input_box">
				<div class="activation_select_box">
					<div class="activation_input_title" id="activation_input_title" @click="Active">2016-2017学年</div>
					<div class="activation_option_box">
						
					</div>
				</div>
				<div id="activation_btn" class="activation_btn" @click="activationLayer">激活下一学期</div>
				<div class="prevent_active_div"></div>
			</div>
			
		</div>
		
		<div class="system_message_box">
			<div class="system_message_title">系统信息</div>
			<div class="system_message_div">
				<div class="system_message_div1">
					<div class="system_message_div1_box">
						<div class="system_message_icon"></div>
						<div class="system_message_write">
							<div class="system_message_enterprise_num">32</div>
							<div class="system_message_num_title">实习企业</div>
						</div>
					</div>
					<div class="system_message_div1_box">
						<div class="system_message_icon system_message_icon2"></div>
						<div class="system_message_write">
							<div class="system_message_enterprise_num">100</div>
							<div class="system_message_num_title">企业导师</div>
						</div>
					</div>
				</div>
				
				<div class="system_message_div1 system_message_div2">
					<div class="system_message_div1_box">
						<div class="system_message_icon system_message_iconPro"></div>
						<div class="system_message_write">
							<div class="system_message_enterprise_num">32</div>
							<div class="system_message_num_title">卓越专业</div>
						</div>
					</div>
					<div class="system_message_div1_box">
						<div class="system_message_icon system_message_icontea"></div>
						<div class="system_message_write">
							<div class="system_message_enterprise_num">100</div>
							<div class="system_message_num_title">校内导师</div>
						</div>
					</div>
					<div class="system_message_div1_box">
						<div class="system_message_icon system_message_iconStu"></div>
						<div class="system_message_write">
							<div class="system_message_enterprise_num">100</div>
							<div class="system_message_num_title">卓越学生</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- <script src="../libs/jquery.min.js"></script> -->
<script type="text/javascript" src="../js/common/jquery-1.10.2.js"></script>
<script src="../plugins/layer/layer.js"></script>
<script src="../libs/bootstrap.min.js"></script>
<script src="../libs/vue.min.js"></script>
<script src="../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="../text/javascript" src="libs/jquery.form.js"></script>


<script src="../js/common/jquery-ui-1.10.4.custom.min"></script>
<script type="text/javascript" src="../js/common/jquery-ui.js"></script>
<script type="text/javascript" src="../js/common/jquery-ui-slide.min.js"></script>
<script type="text/javascript" src="../js/common/jquery-ui-timepicker-addon.js"></script> 

<script src="../js/common.js"></script>
<script src="../js/school_manager/index.js"></script>
</body>
</html>